<!-- Parallax -->

<style>
    .imgaeHome {
        display: block;
        color: #fff;
        height: 490px;
        overflow: hidden;
        padding-top: 0px;
        background-position: 0% 0%;
    }

        .imgaeHome img {
            vertical-align: middle;
        }
</style>

<div class="imgaeHome">
    <img src="../../../UploadFiles/Elevator/mitsubishi.jpg" />
</div>
<!-- /Parallax -->
<!--Product  -->
<section class="team" id="team">
    <div class="container">
        <h2 class="text-center">
            SẢN PHẨM
        </h2>

        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" class="team-img" src="../../../UploadFiles/Elevator/lift10.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Thang máy</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Xem chi tiết
                            </h4>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" class="team-img" src="../../../UploadFiles/Elevator/lift10.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Thang cuốn</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Xem chi tiết
                            </h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" class="team-img" src="../../../UploadFiles/Elevator/lift10.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Điều hòa trung tâm</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Xem chi tiết
                            </h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" class="team-img" src="../../../UploadFiles/Elevator/lift10.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Điều hòa thường</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Xem chi tiết
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Product  -->
<!-- Features -->

<section class="features" id="features">
    <div class="container">
        <h2 class="text-center">
            Dịch vụ
        </h2>

        <div class="row">
            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-rocket"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Tư vấn kỹ thuật
                        </h3>

                        <p>
                            Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-envelope"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Thi công lắp đặt
                        </h3>

                        <p>
                            Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-bell"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Bảo trì, bảo dưỡng
                        </h3>

                        <p>
                            Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Features -->
<!-- Portfolio -->

<section class="portfolio" id="portfolio">
    <div class="container text-center">
        <h2>
            DỰ ÁN
        </h2>
    </div>

    <div class="portfolio-grid">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="../../../UploadFiles/Elevator/escalator1.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="../../../UploadFiles/Elevator/escalator1.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="../../../UploadFiles/Elevator/escalator1.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="../../../UploadFiles/Elevator/escalator1.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="../../../UploadFiles/Elevator/escalator1.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="../../../UploadFiles/Elevator/escalator1.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="../../../UploadFiles/Elevator/escalator1.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="../../../UploadFiles/Elevator/escalator1.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Portfolio -->
<!-- Team -->
<!-- /Team -->
<!-- @component: footer -->

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-title">Liên hệ</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 offset-lg-2">
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>Số 40, đường Tình Quang<br>P.Giang Biên, Q.Long Biên, Tp.Hà Nội</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>kinhdoanh.vandat@gmail.com</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>0977550617 - 0972136600</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="form">
                    <div id="sendmessage">Cảm ơn bạn!!!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Họ và tên" data-rule="minlen:4" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Địa chỉ email" data-rule="email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Chủ đề" data-rule="minlen:4" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" placeholder="Nội dung"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit" class="btn btn-default">Gửi liên hệ</button></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

<footer class="site-footer">
    <div class="bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-xs-12 text-lg-left text-center">
                    <p class="copyright-text">
                        © BELL Theme
                    </p>
                    <div class="credits">

                        <a href="https://bootstrapmade.com/">Bootstrap Themes</a> by BootstrapMade
                    </div>
                </div>

                <div class="col-lg-6 col-xs-12 text-lg-right text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="index.html">Home</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#about">About Us</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#features">Features</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#portfolio">Portfolio</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#team">Team</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<a class="scrolltop"><span class="fa fa-angle-up"></span></a> 